Remove line 2 GTFS data

In [5]:
import os
import sys
parent_dir = os.path.abspath(os.path.join('../..'))
sys.path.append(parent_dir)
# from helper.find_project_root import find_project_root
from helper.GTFS import edit_existing_gtfs

In [6]:
old_GTFS_path = "/Users/max/Desktop/Transit_Dashboard/data/GTFS_data/extracted/2024-10-22_testing"
output_GTFS_path = "/Users/max/Desktop/Transit_Dashboard/data/GTFS_data/extracted/Edited_GTFS"

edit_existing_gtfs.remove_line(old_GTFS_path,output_GTFS_path, "2")
zip_location = "/Users/max/Desktop/Transit_Dashboard/data/GTFS_data/created/GTFS_without_line_2"
edit_existing_gtfs.zip_output_folder(output_GTFS_path, zip_location)

Removing route: 2 - LINE 2 (BLOOR - DANFORTH)
Successfully removed route '2' - 'LINE 2 (BLOOR - DANFORTH)' from GTFS data.
Folder '/Users/max/Desktop/Transit_Dashboard/data/GTFS_data/extracted/Edited_GTFS' has been zipped to '/Users/max/Desktop/Transit_Dashboard/data/GTFS_data/created/GTFS_without_line_2.zip'

In [7]:
import pandas as pd
import os
import sys

# Add the parent directory to the Python path
parent_dir = os.path.abspath(os.path.join('..'))
sys.path.append(parent_dir)
# from travel_time_matrix import travel_time_matrix
from travel_time_matrix.TravelTimeCalculation import TravelTimeCalculation
parent_dir = os.path.abspath(os.path.join('../..'))
sys.path.append(parent_dir)
from data import data

In [8]:
OSM_path = "/Users/max/Desktop/Transit_Dashboard/data/OSM_data/Toronto.osm.pbf" #"../../data/OSM_data/Toronto.osm.pbf"
Before_GTFS_path = "/Users/max/Desktop/Transit_Dashboard/data/GTFS_data/created/GTFS_without_line_2.zip"  #"../../data/GTFS_data/raw/latest_feed_version_2024-10-22.zip"

Before_travel_calculator = TravelTimeCalculation(OSM_path, Before_GTFS_path)  # Use the correct class
Before_travel_calculator.build_transport_network()

Transport network built in 56.95 seconds.

In [11]:
# Census tract to Census tract Access for available job access
Before_travel_calculator.compute_travel_time_matrix(
    origins_path = "../../../data/census_tract_data/toronto_ct_centroids1.geojson", 
    destinations_path = "../../../data/census_tract_data/toronto_ct_centroids1.geojson", 
    output_path = "../results/TTM_CT_CT_Before.csv", 
    origin_id_col='CTUID', destination_id_col='CTUID',
    origin_is_point=True, destination_is_point=True,  # If it is not a point, the centroid of the polygon will be used
)

Travel time matrix computed in 189.32 seconds.
Travel time matrix saved to ../results/TTM_CT_CT_Before.csv.

           from_id       to_id  travel_time
0       5350128.04  5350128.04          0.0
1       5350128.04  5350363.06         80.0
2       5350128.04  5350363.07         82.0
3       5350128.04  5350378.23         84.0
4       5350128.04  5350378.24         85.0
...            ...         ...          ...
339884  5350017.02  5350210.04         80.0
339885  5350017.02  5350062.03         37.0
339886  5350017.02  5350062.04         32.0
339887  5350017.02  5350017.01         20.0
339888  5350017.02  5350017.02          0.0

[339889 rows x 3 columns]

In [ ]:
# Census tract to Hospital Access 
Before_travel_calculator.compute_travel_time_matrix(
    origins_path = "../../../data/census_tract_data/toronto_ct_centroids1.geojson", 
    destinations_path = "../../../data/key_destination_data/Hospitals_4326.geojson", 
    output_path = "../results/TTM_CT_hospitals_only_Before.csv", 
    origin_id_col='CTUID', destination_id_col='Address_ID',
    origin_is_point=True, destination_is_point=True,  # If it is not a point, the centroid of the polygon will be used
)

Travel time matrix computed in 188.84 seconds.
Travel time matrix saved to ../results/TTM_CT_hospitals_only_Before.csv.

          from_id     to_id  travel_time
0      5350128.04     54248         77.0
1      5350128.04    487172         48.0
2      5350128.04    504810         44.0
3      5350128.04    515959         52.0
4      5350128.04    536800         45.0
...           ...       ...          ...
22149  5350017.02  12601206         65.0
22150  5350017.02  13498043         33.0
22151  5350017.02  13501524         71.0
22152  5350017.02  20232082         44.0
22153  5350017.02  30063647         70.0

[22154 rows x 3 columns]

In [10]:
OSM_path = "/Users/max/Desktop/Transit_Dashboard/data/OSM_data/Toronto.osm.pbf" #"../../data/OSM_data/Toronto.osm.pbf"
After_GTFS_path = "/Users/max/Desktop/Transit_Dashboard/data/GTFS_data/raw/latest_feed_version_2024-10-22.zip"  #"../../data/GTFS_data/raw/latest_feed_version_2024-10-22.zip"

After_travel_calculator = TravelTimeCalculation(OSM_path, After_GTFS_path)  # Use the correct class
After_travel_calculator.build_transport_network()

Transport network built in 59.97 seconds.

In [7]:
After_travel_calculator.compute_travel_time_matrix(
    origins_path = "../../../data/census_tract_data/toronto_ct_centroids1.geojson", 
    destinations_path = "../../../data/key_destination_data/Hospitals_4326.geojson", 
    output_path = "../results/TTM_CT_hospitals_only_After.csv", 
    origin_id_col='CTUID', destination_id_col='Address_ID',
    origin_is_point=True, destination_is_point=True,  # If it is not a point, the centroid of the polygon will be used
)

Travel time matrix computed in 168.97 seconds.
Travel time matrix saved to ../results/TTM_CT_hospitals_only_After.csv.

          from_id     to_id  travel_time
0      5350128.04     54248         76.0
1      5350128.04    487172         48.0
2      5350128.04    504810         44.0
3      5350128.04    515959         52.0
4      5350128.04    536800         45.0
...           ...       ...          ...
22149  5350017.02  12601206         65.0
22150  5350017.02  13498043         33.0
22151  5350017.02  13501524         71.0
22152  5350017.02  20232082         44.0
22153  5350017.02  30063647         70.0

[22154 rows x 3 columns]

In [12]:
# Census tract to Census tract Access for available job access
After_travel_calculator.compute_travel_time_matrix(
    origins_path = "../../../data/census_tract_data/toronto_ct_centroids1.geojson", 
    destinations_path = "../../../data/census_tract_data/toronto_ct_centroids1.geojson", 
    output_path = "../results/TTM_CT_CT_After.csv", 
    origin_id_col='CTUID', destination_id_col='CTUID',
    origin_is_point=True, destination_is_point=True,  # If it is not a point, the centroid of the polygon will be used
)

Travel time matrix computed in 186.12 seconds.
Travel time matrix saved to ../results/TTM_CT_CT_After.csv.

           from_id       to_id  travel_time
0       5350128.04  5350128.04          0.0
1       5350128.04  5350363.06         80.0
2       5350128.04  5350363.07         82.0
3       5350128.04  5350378.23         84.0
4       5350128.04  5350378.24         85.0
...            ...         ...          ...
339884  5350017.02  5350210.04         80.0
339885  5350017.02  5350062.03         37.0
339886  5350017.02  5350062.04         32.0
339887  5350017.02  5350017.01         20.0
339888  5350017.02  5350017.02          0.0

[339889 rows x 3 columns]

In [43]:
def format_ctuid(value):
    value = str(value)
    parts = value.split('.')
    if len(parts) == 1:
        return f"535{int(parts[0]):04d}.00"
    elif parts[1] == '0':
        return f"535{int(parts[0]):04d}.00"
    elif len(parts) == 2:
        return f"535{int(parts[0]):04d}.{parts[1]}"

In [44]:
employment_data = pd.read_csv("../../../draft/Employment_data.csv").fillna(0)
employment_data['CTUID'].apply(format_ctuid).to_csv("../../../draft/Employment_data.csv", index=False)

In [46]:
employment_data = pd.read_csv("../../../draft/Employment_data.csv").fillna(0)
employment_data['CTUID'] = employment_data['CTUID'].apply(format_ctuid)
employment_data.to_csv("../../../draft/Employment_data.csv", index=False)